<footer class="page-footer font-small bg-person pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-black">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/atrindadecarol/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/atrindadecarol/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/ATrinCarol" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="footer-copyright bg-tp text-center py-3 text-black">
            <span>&copy; 2022 Copyright: </span>
            <a target="_blank"
                href="mailto:caroline.alvestrindade@hotmail.com">caroline.alvestrindade@hotmail.com <i
                    class="fa fa-envelope-o" aria-hidden="true"></i> </a>
        </div>


    </div>


</footer>