#img-bg{
    background-image: url(https://i.imgur.com/DLFs0pN.png);
    min-width: 395px;
    min-height: 625px;
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-entrar{
    background-image: url('https://i.imgur.com/fLg9REf.png');
    margin-top:0px;
}

.btn-purple{
    background-color: purple;
}

a {
    color:black;
}
a:hover{
    color: purple;
}